body {
  background: linear-gradient(45deg, #ff00ff, #00ffff);
  filter: hue-rotate(180deg) invert(10%);
  animation: spinbg 20s linear infinite;
  margin: 0;
  overflow: hidden;
  cursor: wait;
}

canvas {
  border: 5px dotted hotpink;
  transform: rotate(-0.5deg);
}

@keyframes spinbg {
  0% { background-position: 0 0; }
  100% { background-position: 100% 100%; }
}

h1 {
  color: lime;
  text-shadow: 2px 2px 5px magenta;
  font-size: 50px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  transform: skewX(20deg);
}